.container {
  display: flex;
  flex-direction: row;
  .list-container {
    align-items: stretch;
    width: 60%;
  }

  .radar-container {
    align-items: stretch;
    width: 40%;
  }
}
@media (max-width: 768px) {
  .radar-container {
    display: none;
  }

  .list-container {
    width: 100%;
  }
}
